<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des CV</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <link rel="stylesheet" th:href="@{../login/tem/css/style.css}"/>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>


</head>
<body class="img js-fullheight" th:style="'background-image:url(' + @{../login/tem/images/bg.webp} + ');'">
<div style='float: right;'>
    <a th:href="@{/logout}" th:inline="text">
        Déconnexion
    </a>
</div>
<div style='float: left'>
    <h5>Bienvenue sur la plateforme [[${#httpServletRequest.remoteUser}]] !
    <a th:href="@{/view/{id}(id=${userId})}">Visualiser votre cv</a>
    </h5>
</div>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-6 text-center mb-5">
                <br>
                <h2 class="heading-section">Liste des CV</h2>
            </div>
                <div class="table-responsive-center">
                    <table class="table tablesorter" id="">
                        <thead class="thead-dark">
                        <tr>
                            <th>Prénom</th>
                            <th>Nom</th>
                            <th>Email</th>
                            <th>Téléphone</th>
                            <th>Spécialité</th>
                            <th>Niveau d'étude</th>
                        </tr>
                        </thead>
                        <tr th:each="c:${cvs}">
                            <td th:text="${c.firstname}"></td>
                            <td th:text="${c.lastname}"></td>
                            <td th:text="${c.email}"></td>
                            <td th:text="${c.telephone} "></td>
                            <td th:text="${c.specialite} "></td>
                            <td th:text="${c.niveauEetude} "></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    </div>
</section>
<script th:src="@{../login/tem/js/jquery.min.js}"></script>
<script th:src="@{../login/tem/js/popper.js}"></script>
<script th:src="@{../login/tem/js/bootstrap.min.js}"></script>
<script th:src="@{../login/tem/js/main.js}"></script>
</body>
</html>